.admin-event-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.admin-event-form {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.admin-event-form h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

.admin-event-form input,
.admin-event-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.admin-event-form textarea {
  resize: vertical;
  min-height: 100px;
}

.admin-event-form button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-event-form button {
  background-color: blue;
}

.message {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}
